:root {
    --bg-color: #FFFEFC;
    --color: #3D331D;
    --cta-border-radius: 16px;
    --btn-bg-color: #DDBF5F;
    --cta-border-color: var(--btn-bg-color);
}

body {
    font-family: "Gabriela", Verdana, Tahoma, Geneva, sans-serif;
    width: 450px;
    background-color: var(--bg-color);
    color: var(--color);
}

.form-control {
    border-radius: var(--cta-border-radius);
    --bs-border-color: var(--cta-border-color);
}

textarea.form-control {
    border-bottom-right-radius: 0;
}

input.form-check-input {
    border: var(--bs-border-width) solid var(--cta-border-color);
    color: var(--bg-color);
}

input.form-check-input:checked {
    background-color: var(--cta-border-color);
    border-color: var(--cta-border-color);
}

a.btn, a.nav-link.active {
    border-radius: var(--cta-border-radius);
    background-color: var(--btn-bg-color);
    transition: 0.1s;
}

a.nav-link {
    border-radius: var(--cta-border-radius);
    transition: 0.1s;
}

a.btn:hover, a.nav-link:hover {
    background-color: var(--btn-bg-color);
    opacity: 0.9;
    box-shadow: 0 0 8px var(--btn-bg-color);
}

.navbar {
    padding: 0.5rem 1rem;
}

.navbar-brand {
    font-size: 1rem;
}

.navbar-nav .nav-link {
    font-size: 0.9rem;
}

.progress-bar {
    background-color: var(--btn-bg-color);
    color: var(--color);
}